{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container mt-5 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-dark">Register</h2>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="text-dark">Username:</label>
                    <input type="text" name="{{ form.username.name }}" class="form-control" value="{{ form.username.value }}">
                    {% if form.username.errors %}
                        <span class="text-danger">{{ form.username.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="text-dark">Email:</label>
                    <input type="email" name="{{ form.email.name }}" class="form-control" value="{{ form.email.value }}">
                    {% if form.email.errors %}
                        <span class="text-danger">{{ form.email.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}" class="text-dark">Password:</label>
                    <input type="password" name="{{ form.password1.name }}" class="form-control" value="{{ form.password1.value }}">
                    {% if form.password1.errors %}
                        <span class="text-danger">{{ form.password1.errors }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}" class="text-dark">Re-Type Password:</label>
                    <input type="password" name="{{ form.password2.name }}" class="form-control" value="{{ form.password2.value }}">
                    {% if form.password2.errors %}
                        <span class="text-danger">{{ form.password2.errors }}</span>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'Login' %}" class="btn btn-secondary">Login</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
